*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.flex-container{
    display: flex;
}

header{
    height: 10vh;
    background-color: black;
    flex-direction: row-reverse;
}

main{
    height: 80vh;
    background-color: black;
    overflow-y: scroll;
}

footer{
    height: 10vh;
    background-color: brown;
    
}

/* SVILUPPO HEADER */

.users-view{
    color: white;
    background-color: grey;
    align-self: flex-start;
    margin: .4rem;
    padding: 0.3rem;
    border-radius: 6px;
}
/* SVILUPPO MAIN */

/* NON MI PIACE LA SCROLLBAR :) */
::-webkit-scrollbar {
    display: none;
    }

section{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: 250px;
    height: 200px;
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
    margin-bottom: .2rem;
}

.pinco-pallo{
    background-color: rgba(101, 112, 124, 0.2);
    color: white;
    align-self: flex-end;
    padding: .5rem;
    border-radius: 6px;
}