*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.flex-container{
    display: flex;
}

.column{
    flex-direction: column;
}

header{
    height: 10vh;
    background-color: black;
    flex-direction: row-reverse;
}

main{
    height: 80vh;
    background-color: black;
    overflow-y: scroll;
}

footer{
    height: 10vh;
    background-color: rgb(34, 34, 34);
    justify-content: space-between;
    padding-left: 1rem;
}

/* SVILUPPO HEADER */

.users-view{
    color: white;
    background-color: grey;
    align-self: flex-start;
    margin: .4rem;
    padding: 0.3rem;
    border-radius: 6px;
}
/* SVILUPPO MAIN */

/* NON MI PIACE LA SCROLLBAR :) */
::-webkit-scrollbar {
    display: none;
    }

section{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: 250px;
    height: 200px;
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
    margin-bottom: .2rem;
}

.pinco-pallo{
    background-color: rgba(101, 112, 124, 0.2);
    color: white;
    align-self: flex-end;
    padding: .5rem;
    border-radius: 6px;
}

/* SVILUPPO FOOTER */

.zoom-option{
    /* width: 200px;
    background-color: rosybrown; */
    color: white;
    
    align-items: center;
}

.column i{
    align-self: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.zoom-option > div{
    margin-right: 1rem;
}

.fa-share-square{
    color: rgb(75, 200, 0);
}

#end-meeting{
    width: 7%;
    align-items: center;
    justify-content: center;
    background-color: rgb(74, 74, 74);
    color: red;
}
