*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container{
    display: flex;
}

header{
    height: 10vh;
    background-color: black;
}

main{
    height: 80vh;
    background-color: black;
    overflow-y: scroll;
}

footer{
    height: 10vh;
    background-color: brown;
}

section{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: 250px;
    height: 200px;
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
    background-color: darkgoldenrod;
    border: 1px solid black;
    margin-bottom: .2rem;
}

.pinco-pallo{
    background-color: rgba(101, 112, 124, 0.2);
    color: white;
    align-self: flex-end;
    padding: .5rem;
    border-radius: 6px;
}